<strong> Olá, {{organizer}}</strong>
<p>Que legal! Temos mais uma inscrição para o meetup abaixo:</p>
<p>
  <strong>Cliente: </strong>{{ subscriber }}
  <br />
  <strong>Meetup: </strong>{{ meetup }}
  <br />
  <strong>Meetup Date: </strong>{{ meetupDate }}
  <br />
  <strong>Subscription Date: </strong>{{ subscriptionDate }}
</p>